@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    padding: 0;
}

/*메인 페이지*/
header {
    background-color: #eb8512;
    width: 100%;
    height: 100%;
    color: #ffffff;
}
header > .bg {
    width: 1240px;
    margin: auto;
    text-align: center;
}

.logo {
    padding-top: 50px;
    text-align: left;
}

.title-wrap {
    margin-bottom: 30px;
}

.title-wrap > .title-1 {
    display: flex;
    justify-content: center;
}

.title-2 {
    font-family: "Noto Sans", sans-serif;
    font-size: 65px;
    font-weight: 400;
    letter-spacing: -5.0px;
    line-height: 125px;
    margin-right: 20px;
}

.text{
    font-size: 24px;
    font-weight: 100;
    letter-spacing: -1.0px;
    line-height: 20px;
}

.app-wrap {
    background-image: url("/image/01/01_06_bg_circle.png") ;
    background-repeat: no-repeat;
    background-position: bottom;
}

.store{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}


/*맛딱드림이란?*/

.main-info {
    text-align: center;
    width: 1240px;
    margin: 100px auto;
    color: #1a1a1a;
}

.info-wrap {
    font-size: 22px;
    font-weight: 100;
    letter-spacing: -0.4px;
    margin-bottom: 50px;
}

.info-title{
    font-weight: 500;
    font-size: 55px;
    color: #eb8512;
    letter-spacing: -3.5px;
    margin-bottom: 10px;
}

.info-wrap span {
    font-weight: 500;
}

.content-wrap {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.content-wrap > div {
    text-align: left;
}

.content-wrap > div > div:first-of-type{
    width: 350px;
    height: 181px;
    border-bottom: #eb8512 solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-title {
    font-size: 30px;
    margin: 20px 12px 10px;
    color: #eb8512;
    font-weight: 500;
    letter-spacing: -1.2px;
}

.text-content {
    margin-left: 13px;
    font-size: 22px;
    font-weight: 100;
    letter-spacing: -1.2px;
}

/* UI 드림 */
section:nth-of-type(2){
    background-color: #ededed;
}

.ui-wrap {
    text-align: center;
    width: 1240px;
    margin: 100px auto;
    color: #1a1a1a;
}

.div-flex {
    display: flex;
    justify-content: space-between;
}

.ui-left {
    text-align: left;
    margin: auto 50px;
}

.ui-left > div:first-of-type {
    margin-left: 10px;
}

.ui-left > .ui-title {
    color: #eb8512;
    font-weight: 500;
    font-size: 38px;
    margin: 5px 10px 20px;
    letter-spacing: -3.0px;
    line-height: 48px;
}

.text-content {
    line-height: 32px;
}

.ui-wrap span{
    font-weight: 500;
}

.ui-right {
    margin: 100px 50px;
}

/*운송수단 타입*/
.ride-wrap {
    text-align: center;
    width: 1240px;
    margin: 100px auto;
    color: #1a1a1a;
}

.ride-title {
    font-weight: 500;
    color: #eb8512;
    font-size: 40px;
    letter-spacing: -2.5px;
    margin-bottom: 10px;
}

.ride-title-wrap {
    font-size: 22px;
    font-weight: 100;
    margin-bottom: 40px;
    letter-spacing: -1.0px;
}

.ride-title-wrap span {
    font-weight: 500;
}

.ride-content {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.ride {
    width: 280px;
    height: 300px;
    background-color: #ededed;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    font-size: 22px;
    box-shadow: 5px 5px 10px #b7b7b7;
}
.ride > .ride-type {
    margin-top: 30px;
    font-weight: 500;
}

.ride > .ride-text {
    font-weight: 100;
}